MySBVMain/MySbv/src/Services/Vault.Integration.ResponseClient/Service References/CashConnect/CashConnect1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.cashconnect.co.za/CCMV2IntegrationService/CashConnect.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CCIntegrationLibrary" />
  <xs:element name="CountInfoReceive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Safe_ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Bag_Barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Declared10" type="xs:int" />
        <xs:element minOccurs="0" name="Declared20" type="xs:int" />
        <xs:element minOccurs="0" name="Declared50" type="xs:int" />
        <xs:element minOccurs="0" name="Declared100" type="xs:int" />
        <xs:element minOccurs="0" name="Declared200" type="xs:int" />
        <xs:element minOccurs="0" name="DeclaredValue" type="xs:float" />
        <xs:element minOccurs="0" name="Counted10" type="xs:int" />
        <xs:element minOccurs="0" name="Counted20" type="xs:int" />
        <xs:element minOccurs="0" name="Counted50" type="xs:int" />
        <xs:element minOccurs="0" name="Counted100" type="xs:int" />
        <xs:element minOccurs="0" name="Counted200" type="xs:int" />
        <xs:element minOccurs="0" name="CountedValue" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountInfoReceiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountInfoReceiveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Safe_Transation_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SafeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Safe_Transation_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CCIntegrationLibrary" minOccurs="0" name="Get_Safe_Transation_ListResult" nillable="true" type="q1:Safe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="safe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="safeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CCIntegrationLibrary" minOccurs="0" name="safeResult" nillable="true" type="q2:Safe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bagsObject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="bagsObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CCIntegrationLibrary" minOccurs="0" name="bagsObjectResult" nillable="true" type="q3:BagsObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bag">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="bagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CCIntegrationLibrary" minOccurs="0" name="bagResult" nillable="true" type="q4:Bag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transactionsObject">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="transactionsObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CCIntegrationLibrary" minOccurs="0" name="transactionsObjectResult" nillable="true" type="q5:TransactionsObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="transactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CCIntegrationLibrary" minOccurs="0" name="transactionResult" nillable="true" type="q6:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>