MySBVMain/MySbv/src/Services/Vault.Integration.ResponseClient/Service References/CashConnect/CashConnect2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CCIntegrationLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CCIntegrationLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Safe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bagsObject" nillable="true" type="tns:BagsObject" />
      <xs:element minOccurs="0" name="safeID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Safe" nillable="true" type="tns:Safe" />
  <xs:complexType name="BagsObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bags" nillable="true" type="tns:ArrayOfBag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BagsObject" nillable="true" type="tns:BagsObject" />
  <xs:complexType name="ArrayOfBag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bag" nillable="true" type="tns:Bag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBag" nillable="true" type="tns:ArrayOfBag" />
  <xs:complexType name="Bag">
    <xs:sequence>
      <xs:element minOccurs="0" name="bagBarcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transactionsObject" nillable="true" type="tns:TransactionsObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bag" nillable="true" type="tns:Bag" />
  <xs:complexType name="TransactionsObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionsObject" nillable="true" type="tns:TransactionsObject" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="bagNumber" type="xs:int" />
      <xs:element minOccurs="0" name="dropNumber" type="xs:int" />
      <xs:element minOccurs="0" name="empNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trasanctionDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
</xs:schema>